{% extends "layout.html" %} {% block title %}Página Principal{% endblock %} {%
block content %}
<div class="container mt-4">
  <h1>Bienvenido a la App de Gimnasio</h1>
  <p>Esta es la página principal de la aplicación.</p>

  <h2>Menú Principal</h2>
  <div class="list-group">
    <a
      href="{{ url_for('usuarios') }}"
      class="list-group-item list-group-item-action"
      >Gestión de Usuarios</a
    >
    <a
      href="{{ url_for('ejercicios') }}"
      class="list-group-item list-group-item-action"
      >Gestión de Ejercicios</a
    >
    <a
      href="{{ url_for('rutinas') }}"
      class="list-group-item list-group-item-action"
      >Gestión de Rutinas</a
    >
  </div>
</div>
{% endblock %}
